.profileBannerWrapper {
  height: 430px;
  width: 750px;
  border-style: none;
  border-width: 7px;
  border-color: white;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 20%;
}

.profilePageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(244, 242, 238);
  min-height: 100vh;

}

.profilePicModalWrapper {
  /* position: absolute; */
  top: 0px;
  left: 0px;
  background-color: rgba(219, 219, 219, 0.843);
  width: 100vw;
  height: 100vh;
  z-index: 10;

  
}

.experienceModalWrapper {
  position: relative;
  background-color: rgba(219, 219, 219, 0.843);
  width: 100vw;
  height: 100vh;
  z-index: 5;

}

.profileBannerPicModalWrapper {
  /* position: absolute; */
  top: 0%;
  left: 0%;
  background-color: rgba(219, 219, 219, 0.843);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}


.profileBannerWrapper {
  position: relative;
  right: 200px;
}



.profilePageContentWrapper {
  /* left: 50%;
  transform: translateX(-50%); */
  width: 1000px;
  min-height: 1000px;
  margin-bottom: 100px;
  
}



.profileLinkInfoWrapper {
  background-color: rgb(255, 255, 255);
  position: relative;
  bottom: 425px;
  left: 800px;
  min-height: 100px;
  max-width: 200px;
  border-style: none;
  /* border-color: black; */
  border-width: 5px;
  border-radius: 7px;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}

.profileLinkContainer {
  
  width: 100%;
  
}

.profileLinkContainer > h2 {
  padding: 0px 10px;
  font-family: system-ui;
  font-size: 18px;
  font-weight: 600; 
  color: rgba(0, 0, 0, 0.9);
  line-height: 40px;
}


.profileLinkContainer > p {
  padding: 0px 10px;
  word-wrap: break-word;

  font-family: system-ui;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}


