.experienceModalWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1400px;
  width: 100%;
  
}

.experienceTitle {
  margin-top: 30px;
  margin-bottom: 10px;

  font-family: system-ui;
  font-size: 140px;
  font-weight: 600;
 

}

.experienceFormContainer {
  position: relative;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  
}

.experienceModalContainer hr:first-of-type {
  margin-top: 25px;
}

.expModalcloseIcon {
  height: 30px;
  width: 30px;
  padding: 10px;
  border-radius: 40px;
  /* background-color: rgba(162, 162, 162, 0.431); */


  position: relative;
  bottom: 80px;
  left: 650px;
}

.expModalcloseIcon:hover {
  background-color: rgba(162, 162, 162, 0.431);
  border-radius: 40px;
 
}



.experienceModalContainer {
  margin-left: 50%;
  transform: translate(-50%);
  position: absolute;
  height: 700px;
  width: 700px;
  border-style: solid;
  background-color: white;

  border-style: none;
  border-radius: 10px;
  top: 200px;
  z-index: 5;
    padding: 0px 20px;
}

.experienceModalContainer p{
  font-family: system-ui;
  font-size: 14px;
  font-weight: 400;
}
.experienceModalContainer input {
  width: 680px;
  height: 32px;
  border-color: rgb(64, 64, 64);
  border-radius: 5px;
}

.experienceModalContainer label {
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: system-ui;
    font-size: 14px;
    font-weight: 400;

}


.experienceSubmitButton {
  position: relative;
  background-color: #0B65C2;
  color: white;
  height: 40px;
  width: 80px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 40px;
  left: 600px;
  bottom: 15px;
}