.profileBannerPicModalContainer {
  background-color: white;
  width: 700px;
  height: 300px;
  border-radius: 10px;
  /* border: 2mm solid rgba(248, 79, 63); */
  /* background-color: rgb(255, 255, 255); */
  margin-left: 50%;
  margin-top: 30px;
  transform: translateX(-50%);
  
}

.profileBannerPicModalHR {
  border-color: rgba(230, 230, 230, 0.801);
}



.headshotSlogan {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: system-ui;
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.identitySlogan {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: system-ui;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 55px;
}

.profileBannerPicModalTitle {
  /* position: relative;
  left: 20px; */
  font-family: system-ui;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}

.profileBannerPicModalTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profileBannerPicModalPicture {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 40px;
}

.profileBannerPicModalButtons {

  align-items: center;
}

.profileBannerPicUploadButton {
  /* position: relative;
  top: 10px;
  left: 350px; */

  background-color: #0B65C2;
  color: white;
  height: 30px;
  font-size: 16px;
  font-family: system-ui;
  font-weight: 400;
  padding: 5px 10px;
  width: 120px;
  border: none;
  border-radius: 30px;
}

.profilePicFileSelect {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 280px;
  /* position: relative;
  top: 10px;
  left: 20px; */
}

.profilePicCloseModalButton {
  position: relative;
  left: 500px
}