/* Not logged in nav bar */
.splashNavBar {

  display: flex;
  justify-content: space-between;
  
  width: 1150px;
  height: 100px;
  padding: 25px 0px;
  margin: 0 auto;
}

.splashTitle {
  font-size: 30px;
  font-family: system-ui;
  font-weight: 600;
    color: red;
    text-decoration: none;
}

.splashTitleConnect {
  padding-right: 2px;
}

.splashTitleConnect {
  color: rgb(11, 101, 194);
}
.splashTitleIn {
  color: white;
  background-color: rgb(11, 101, 194);
  border-radius: 4px;
}

ul {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  padding-right: 10px;
}

.splahNavButtons {
  text-decoration: none;
  padding: 10px;
  border-style: solid;
  border-color: rgb(11, 101, 194);
  border-radius: 4px;
}

/* Logged In Navbar */



.feedNavBar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 50px;
}
.feedTitle {
  width: 10px;
  margin-left: 15%;
  text-decoration: none;
  margin: auto;
}

.feedNavButtons {
  margin-right: 10%;
  margin: auto;
}

.feedTitleIn {
  font-family: system-ui;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 3px;
  font-size: 30px;
  font-weight: 700;
  width: 28px;
  height: 30px;
  color: white;
  background-color: rgb(11, 101, 194);
  border-radius: 4px;

}


@media (max-width: 700px) {
  
}

