/* .postSettingsDropDown {
  position: relative;
  color: red;
  border: solid;
  border-color: aqua;
  border-width: 3px;
  height: 100px;
  width: 500px;
  text-align: left;
  height: 110px;
  z-index: 1000;
  right: 50px;
} */

.editModalWrapper {
  position: relative;
  /* bottom: 500px; */
  top: 1000px;
  right: 100px;
  /* bottom: 50px; */
  z-index: 1000;
}



.editPostWrapper button{
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: system-ui;
  font-weight: 600;
  border: none;
  margin-bottom: 20px;
}


.deletePostWrapper button {
  background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: system-ui;
    font-weight: 600;
    border: none;
    /* margin-bottom: 20px; */
}
/* button {
  background-color: none;
  height: 20px;
  width: 100%;
  margin-bottom: 10px;
} */
