.feedUserIconWrapper {
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap; */
  margin-top: 30px;

}
.navUserIcon {
  margin-top: 25px;
  height: 30px;
  width: 30px;
  margin-left: 28px;
  border-radius: 15px;
}
.navUserIcon2 {
  margin-top: 25px;
  height: 25px;
  width: 25px;
  margin-left: 28px;

}


.MeWrapper {
  display: flex;
  flex-direction: row;
  gap: 0px 3px;
  margin-bottom: 10px;
  
}

.MeWrapper p {
  color: rgb(0, 0, 0, 0.9);
  margin-left: 25px;
  font-size: 12px;
  font-family: system-ui;
  margin-bottom: 16px;
  margin-left: 25px;
}

.MeWrapper img {
  margin-top: 3px;
}


.dropDownUserInfoWrapper {
  position: absolute;
  top: 60px;
  right: 70px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  background-color: rgb(255, 255, 255); 
  min-height: 200px;
  width: 200px;
  z-index: 102;
}

.dropDownUserInfo{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  font-family: system-ui;
  font-size: 15px;
  font-weight: 500;

}

.dropDownUserIcon {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
}

.feedSignOut a {
  margin-left: 10px;
  text-decoration: none;
}

.userProfileButton {
  font-family: system-ui;
  background-color: white;
  color: rgb(64, 126, 203);
  border: solid;
  border-color: rgb(64, 126, 203);
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
  height: 25px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color 0.3s ease;
}

.userProfileButton:hover {
  background-color: lightblue;
  cursor: pointer;
}

 
.feedSignOut {
  position: relative;
  border-style: none;
  background-color: white;
  left: 5px;
  font-family: system-ui;
  font-size: 14px;
  font-weight: 400;
}

.feedSignOut:hover {
  text-decoration: underline;
}

.mylinksWrapper {
  display: flex;
  justify-content: center;
}

.dDownMyLinksIcons {
  height: 40px;
  width: 40px;
}
.dDownMyLinksIcons:hover {
  cursor: pointer;
}
.dDownMyLinksIcons2 {

  height: 40px;
  width: 40px;
}

.dDownMyLinksIcons2:hover {
  cursor: pointer;
}