.feedPage {
  height: 5000px;
  background-color: rgb(243, 242, 240);
  width: 100vw;
}

.feedCreatePostBoxWrapper {
  position: absolute;
  margin-bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.feedNavigationWrapper {
  width: 100vw;
 
  margin-top: 0px;
  /* transform: translate(0, -50%); */
}
.createPostBoxModal {
  background-color: rgb(98, 97, 96, .3);
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  z-index: 1500;
}

.feedCreatePostBoxContainer {
    margin-top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.postCRUDWrapper {
  display: flex;
  flex-direction: column;
  
}


.feedPostIndexWrappper {
  /* margin-left: 50%;
  transform: translate(0, -50%);
  height: 100vh;
  width: 400px; */
  background-color: red;
}
