.feedPage {
  height: 5000px;
  background-color: rgb(243, 242, 240);
  width: 100vw;
}

.feedCreatePostBoxWrapper {
  position: absolute;
  margin-bottom: 20px;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.feedNavigationWrapper {
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: white;
  /* margin-bottom: 10px; */
  z-index: 1;
  /* left: -50%;
  transform: translate(0, -50%); */
}
.createPostBoxModal {
  background-color: rgb(98, 97, 96, .3);
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.feedCreatePostBoxContainer {
    margin-top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.postCRUDWrapper {
  display: flex;
  flex-direction: column;


}


.feedPostIndexWrappper {
  /* margin-left: 50%;
  transform: translate(0, -50%);
  height: 100vh;
  width: 400px; */
  background-color: red;
}

.feedPostDescription {
  margin-top: 10px;
}
