.homePage {
  width: 1000px; 
  margin: 0 auto;
  margin-left: 50%;
  transform: translateX(-50%)
  


}


.slogan {
  height: 135px;
  width: 580px;
  color: rgb(178, 64, 31);
  font-size: 56px;
  font-family: system-ui;
  font-weight: 200;
}

.loginAndPicture {
  display: flex;
  flex-direction: row;
}

.linkedin {
  width: 700px;
  height: 500px;
}

